img {
   width: 121px;
   height: 131px;
   object-fit: contain;
}

button {
   background-color: rgba(154, 208, 139, 1);
   border: none;
}



#titre {
   color: brown;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: xx-large;
   
}

nav {
   padding: 10px 20px;
   background-color: rgb(201, 240, 201);
}